.elements_container {
    composes: mt-25 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    flex-direction: column;
}

.element_holder {
    composes: mb-4 mr-4 ml-4 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    align-items: center;
    justify-content: left;
}

.make_order {
    composes: mt-10 mr-4 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    align-items: center;
    justify-content: right;
}

.price {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.main_holder {
    composes: ml-5 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    flex: 50%;
    display: flex;
    justify-content: left;
}

.modal_confirm {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    position: absolute;
    top: 20%;
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.order_number {
    text-shadow: #3333FF80 0px 4px 32px, #3333FF40 0px 0px 8px, black 0px 0px 16px;
}
