.elements_container {
    composes: mt-25 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    flex-direction: column;
    min-width: 618px;
}

.element_holder {
    composes: mb-4 mr-4 ml-4 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    align-items: center;
    justify-content: left;
}

.make_order {
    composes: mr-4 mb-10 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    justify-content: right;
    align-items:end;
}

.price {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.main_holder {
    composes: ml-5 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    flex: 50%;
    display: grid;
    justify-content: left;
    flex-direction:column;
}

.scroll {
    composes: custom-scroll from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";
    max-height: calc(100vh - 554px);
    overflow: auto;
}
