.root_container {
    display: flex;
    width: 100%;
    height: 87%;
    position: absolute;
    justify-content: left;
    align-items: flex-start;
    min-width: 480px;
}

.links_container {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 120px;
}

.profile_container {
    composes: ml-15 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 120px;
}

.content_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 40%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.menu_item {
    text-decoration: none;
}

.order_feed {
    composes: custom-scroll from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";
    max-height: calc(100vh - 130px);
    overflow-y: auto; 
    overflow-x: hidden;
    width: fit-content;
}
